<div>
  <.live_component
    module={DurandalWeb.Account.UserPasswordFormComponent}
    id={:edit_password}
    action={:edit_password}
    user={@current_user}
    patch={~p"/profile"}
    title={gettext "Edit user form"}
  />
</div>
