# Turns the service off and on again (wiping logs in the process)
# without performing the deployment process
# I typically used this while testing things
# vi /scripts/quick_restart.sh

echo "Stopping service"
/apps/durandal/bin/durandal stop
sudo systemctl stop durandal.service

echo "Rotate logs"
rm /var/log/durandal/error_old.log
rm /var/log/durandal/info_old.log

cp /var/log/durandal/error.log /var/log/durandal/error_old.log
cp /var/log/durandal/info.log /var/log/durandal/info_old.log

echo "Wipe logs"
> /var/log/durandal/error.log
> /var/log/durandal/info.log

# We found on a faster server if we started up the app really quickly it would generate
# very high CPU load for no apparent reason, putting this in places solves it
# if you are using a lower end VPS you can likely remove it
echo "Sleeping"
sleep 5

echo "Starting service"
sudo systemctl start durandal.service
