<DurandalWeb.UniverseComponents.filter_bar selected="new" />

<div class="row mt-4">
  <div class="col">
    <.live_component
      module={DurandalWeb.Game.UniverseFormComponent}
      id={:new}
      action={:new}
      universe={
        %Durandal.Game.Universe{
          scenario: "basic"
        }
      }
      patch={~p"/admin/universes"}
      title="New universe form"
      current_user={@current_user}
    />
  </div>
</div>
