# /apps/durandal.vars

ERL_MAX_PORTS=65536

DATABASE_USERNAME="durandal_prod"
DATABASE_PASSWORD="{{ db_password }}"
DATABASE_HOSTNAME="{{ database_hostname }}"
DATABASE_DB_NAME="durandal_prod"
SECRET_KEY_BASE="{{ secret_key_base }}"
DOMAIN_NAME="{{ ansible_host }}"
RELEASE_NODE="durandal@{{ ansible_host }}"
NODE_NAME="{{ inventory_hostname }}"
